body {
  font-family: sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #57baec;
}

#box {
  width: 300px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(36, 36, 36);
  background-color: #ffffff;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  color: #2b2b2b;
}

#box.large {
  width: 400px;
}

#box span {
  margin-bottom: 5px;
}

#box .text {
  padding: 10px 14px;
  border: none;
  margin-bottom: 12px;
  border-radius: 2px;
  background-color: #f6f6f6;
}

.button {
  margin-bottom: 10px;
  background-color: #72c7ff;
  padding: 10px 20px;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 9px;
  border: none;
  transition: 0.3s all;
  cursor: pointer;
}

.button:hover {
  background-color: #2b93d8;
}

#box .error {
  color: red;
}

.link {
  transition: 0.2s;
  color: black;
  text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.erro {
  color: rgb(255, 18, 18);
}

.bold{
  font-weight: bold;
  font-size: 21px;
}